<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL yeniden yazma (React Router yönlendirmeleri için) -->
    <!-- <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url="^(?!socket).*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite> -->

    <!-- Node.js için IISNode yapılandırması -->
    <handlers>
      <add name="Nodejs" path="socket.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Hatalar için özelleştirme (404 hatası, React Router yönlendirmesi) -->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>
</configuration>