.buttonDiv{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.popUp{
    height: 85%;
    width: 75%;
}

@keyframes blink {
    0% {
      opacity: 1;
      color: darkred; /* Başlangıç rengi kırmızı */
    }
    50% {
      opacity: 0.2;
      color: transparent; /* Yarı opaklıkta kaybolacak */
    }
    100% {
      opacity: 1;
      color: darkred; /* Sonraki renk kırmızı */
    }
  }

@media screen and (max-width:992px) {
  .buttonsDiv{
    flex-wrap: wrap;
    margin-right: 70px;
  }
  .buttonDiv{
    margin-bottom: 40px;
  }
}